

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/Archive/background.png");

  .App {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    background-image: linear-gradient(rgb(144, 20, 228), rgb(42, 5, 66));
    justify-content: space-between;
    padding-top: 0.8rem;
    
    span {
      color: yellow;
    }

    .button-icon {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between;
    }

    .header-container-left {
      padding: 0 0.8rem 0.8rem;
      display: flex;

      img {
        margin-left: 1.25rem;
      }
    }

    .header-container-right {
      background-color: rgb(42, 5, 66);
      border: 0.5px solid yellow;
      border-radius: 40px 40px 40px 40px;
      box-shadow: inset 0 0 5px gold, 0 0 1em rgb(42, 5, 66);
      margin-right: 2rem;
      height: 45px;
      width: 250px;

      img {
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        justify-self: flex-end;
      }

      .container-money {
        width: 250px;
  
        span:first-child {
          margin: 0.25rem 0 0 3rem;
          align-self: center;
        }
  
        span {
          margin-top: 0.5rem;
          display: inline;
        }
    
        strong {
          display: inline;
          color: yellow;
          font-size: 2rem;
          margin-top: 0.25rem;
        }
      }
    }

    .header-container-center {
      background-color: rgb(42, 5, 66);
      border: 1px solid rgb(160, 160, 37);
      border-radius: 2.5rem;
      box-shadow: inset 0 0 5px gold, 0 0 1em rgb(42, 5, 66);
      height: 4.4rem;
      width: 17.5rem;
      z-index: 2;

      h5 {
        color: yellow;
        font-size: 1.25rem;
        margin: -0.75rem 0 1rem;
        text-align: center;
        z-index: 1;
      }

      .jackpot {
        font-size: 2.4rem;
        margin-top: -2rem;
        text-align: center;
        color: yellow;
      }

      span {
        margin-left: 2rem;
      }

      small {
        font-size: 1rem;
      }
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
