

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/Archive/background.png");

  .App {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    padding-top: 0.8rem;

    .header-container-left {
      padding: 0 0.8rem 0.8rem;
      display: flex;

      img {
        margin-left: 1.25rem;
      }
    }

    .header-container-right {
      background-color: rgb(74, 85, 189);
      border: 2px solid black;
      border-radius: 40px 40px 40px 40px;
      display: flex;
      justify-content: space-between;
      margin-right: 2rem;
      height: 45px;
      width: 250px;

      h3 {
        margin-left: 50px;
        align-self: center;
        color: yellow;
      }

      img {
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        justify-self: flex-end;
      }
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
