body {
  margin: 0;
  font-family: 'Heebo', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/Archive/background.png"); }
  body .App {
    display: flex;
    flex-direction: column; }
  body .header-image {
    display: flex;
    background-image: url("../assets/Archive/header.png");
    background-position: cover;
    background-size: 100% 100%;
    justify-content: space-between;
    padding: 3rem 0 2rem; }
    body .header-image span {
      color: yellow; }
    body .header-image .button-icon {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between; }
    body .header-image .header-container-left {
      padding: 0 0.8rem 0.8rem;
      margin-top: -2rem;
      display: flex; }
      body .header-image .header-container-left img {
        margin-left: 1rem; }
    body .header-image .header-container-right {
      margin-top: -1.8rem;
      margin-right: 2.3rem;
      height: 45px;
      width: 250px; }
      body .header-image .header-container-right img {
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        justify-self: flex-end; }
      body .header-image .header-container-right .container-money {
        width: 250px; }
        body .header-image .header-container-right .container-money span:first-child {
          margin: 0.25rem 0 0 3rem;
          align-self: center; }
        body .header-image .header-container-right .container-money span {
          margin-top: 0.5rem;
          display: inline; }
        body .header-image .header-container-right .container-money strong {
          display: inline;
          color: yellow;
          font-size: 2rem;
          margin-top: 0.25rem; }
    body .header-image .header-container-center {
      color: #e9e900;
      font-size: 1.5rem;
      margin: -2.1rem 0 0 1rem;
      height: 4.4rem;
      width: 17.5rem;
      z-index: 2;
      text-shadow: -1.5px 0 black, 0 2px black, 1.5px 0 black, 0 -1.5px black; }
      body .header-image .header-container-center h5 {
        margin: -0.8rem 0 0.5rem;
        text-align: center;
        text-shadow: 0.1em 0.1em 0.2em black; }
      body .header-image .header-container-center .jackpot {
        font-size: 5rem;
        margin: -4.5rem 0 0 -1.5rem; }
      body .header-image .header-container-center span {
        font-weight: 900;
        margin-left: -2.5rem; }
      body .header-image .header-container-center small {
        font-size: 1.5rem; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
