body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/Archive/background.png"); }
  body .App {
    display: flex;
    flex-direction: column; }
  body .header {
    display: flex;
    background-image: linear-gradient(#9014e4, #2a0542);
    justify-content: space-between;
    padding-top: 0.8rem; }
    body .header span {
      color: yellow; }
    body .header .button-icon {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between; }
    body .header .header-container-left {
      padding: 0 0.8rem 0.8rem;
      display: flex; }
      body .header .header-container-left img {
        margin-left: 1.25rem; }
    body .header .header-container-right {
      background-color: #2a0542;
      border: 0.5px solid yellow;
      border-radius: 40px 40px 40px 40px;
      box-shadow: inset 0 0 5px gold, 0 0 1em #2a0542;
      margin-right: 2rem;
      height: 45px;
      width: 250px; }
      body .header .header-container-right img {
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        justify-self: flex-end; }
      body .header .header-container-right .container-money {
        width: 250px; }
        body .header .header-container-right .container-money span:first-child {
          margin: 0.25rem 0 0 3rem;
          align-self: center; }
        body .header .header-container-right .container-money span {
          margin-top: 0.5rem;
          display: inline; }
        body .header .header-container-right .container-money strong {
          display: inline;
          color: yellow;
          font-size: 2rem;
          margin-top: 0.25rem; }
    body .header .header-container-center {
      background-color: #2a0542;
      border: 1px solid #a0a025;
      border-radius: 2.5rem;
      box-shadow: inset 0 0 5px gold, 0 0 1em #2a0542;
      height: 4.4rem;
      width: 17.5rem;
      z-index: 2; }
      body .header .header-container-center h5 {
        color: yellow;
        font-size: 1.25rem;
        margin: -0.75rem 0 1rem;
        text-align: center;
        z-index: 1; }
      body .header .header-container-center .jackpot {
        font-size: 2.4rem;
        margin-top: -2rem;
        text-align: center;
        color: yellow; }
      body .header .header-container-center span {
        margin-left: 2rem; }
      body .header .header-container-center small {
        font-size: 1rem; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
