body {
  margin: 0;
  font-family: 'Heebo', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/Archive/background.png"); }
  body .App {
    display: flex;
    flex-direction: column; }
    body .App .footer {
      position: absolute;
      bottom: 0;
      width: 100%; }
    @media (max-width: 420px) {
      body .App .footer {
        bottom: -750px; } }
  body .header-image {
    display: flex;
    background-image: url("../assets/Archive/header.png");
    background-position: cover;
    background-size: 100% 100%;
    justify-content: space-between;
    padding: 3rem 0 2rem; }
    body .header-image span {
      color: yellow; }
    body .header-image .button-icon {
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: space-between; }
    body .header-image .header-container-left {
      padding: 0 0.8rem 0.8rem;
      margin-top: -2rem;
      display: flex; }
      body .header-image .header-container-left img {
        margin-left: 1rem; }
    body .header-image .header-container-right {
      margin-top: -1.8rem;
      margin-right: 2.3rem;
      height: 45px;
      width: 250px; }
      body .header-image .header-container-right img {
        margin: 3px 5px 0 0;
        justify-self: flex-end; }
      body .header-image .header-container-right .container-money {
        width: 250px; }
        body .header-image .header-container-right .container-money span:first-child {
          margin: 0rem 0 0 3rem;
          align-self: center; }
        body .header-image .header-container-right .container-money span {
          display: inline; }
        body .header-image .header-container-right .container-money strong {
          display: inline;
          color: yellow;
          font-size: 2rem;
          margin-top: -0.2rem; }
    body .header-image .header-container-center {
      color: #e9e900;
      font-size: 1.5rem;
      margin: -2.1rem 0 0 1rem;
      height: 4.4rem;
      width: 17.5rem;
      z-index: 2;
      text-shadow: -1.5px 0 black, 0 2px black, 1.5px 0 black, 0 -1.5px black; }
      body .header-image .header-container-center h5 {
        margin: -0.8rem 0 0.5rem;
        text-align: center;
        text-shadow: 0.1em 0.1em 0.2em black; }
      body .header-image .header-container-center .jackpot {
        font-size: 5rem;
        margin: -3.8rem 0 0 -1.5rem; }
      body .header-image .header-container-center span {
        font-weight: 900;
        margin-left: -2.5rem; }
      body .header-image .header-container-center small {
        font-size: 1.5rem; }
    @media (max-width: 420px) {
      body .header-image {
        display: flex;
        background-image: linear-gradient(#9014e4, #2a0542);
        justify-content: space-between;
        padding: 0 0 10px 0;
        margin: 0;
        width: 100%; }
        body .header-image .header-container-left {
          padding: 0;
          margin: 20px 0 0 -10px; }
        body .header-image .header-container-center {
          background-color: #2a0542;
          border: 1px solid #a0a025;
          border-radius: 2rem;
          box-shadow: inset 0 0 5px gold, 0 0 1em #2a0542;
          height: 55px;
          margin: 18px 0 0 50px;
          padding: 0 0.5rem;
          font-size: 16px;
          width: 400px; }
          body .header-image .header-container-center .jackpot {
            margin: -33px 0 0 8px;
            padding: 0;
            font-size: 25px; }
          body .header-image .header-container-center h5 {
            margin-top: -8px; }
          body .header-image .header-container-center span {
            margin: 0 0 0 -3px; } }
  body .container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 50px 0; }
    body .container-cards .mini-card {
      margin: 10px 10px; }
      body .container-cards .mini-card img {
        border: 1px solid yellow;
        border-radius: 1rem;
        box-shadow: inset 0 2px 5px gold, 0 0 1em #2a0542;
        height: 170px;
        width: 250px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
